
.blob_svg{
    position : static;
    padding-left: 56%;
    padding-top: 9%;
}

#blob1 {
    animation: blob1 5s linear infinite;  
    
}

#blob2 {
    animation: blob2 5s linear infinite;
}

#blobCapture1 {
    animation: blob1 4s linear infinite;  
    
}

#blobCapture2 {
    animation: blob2 5s linear infinite;
}
    
/* .wrapper{
    position: absolute;
    left : 50%;
    top: 50%;
    transform: rotate(90deg);  
    
} */

@keyframes blob2 {
    0% {
        d:path("M126.247 188C258.725 125.931 101.016 54 193.515 54C286.015 54 361 113.994 361 188C361 262.006 327.366 322 193.515 322C59.665 322 -6.23059 250.069 126.247 188Z");

    }
    25% {
        d:path("M140.51 197.402C272.988 135.332 115.279 63.4019 207.779 63.4019C300.278 63.4019 370.764 115.402 400.748 215.402C430.732 315.402 367.114 349.402 233.263 349.402C99.413 349.402 8.0329 259.471 140.51 197.402Z");

    }
    50% {
        d:path("M138.51 204.402C270.988 142.332 113.279 70.4019 205.778 70.4019C298.278 70.4019 480.996 131.304 398.748 222.402C316.5 313.5 365.114 356.402 231.263 356.402C97.413 356.402 6.03287 266.471 138.51 204.402Z");

    }
    75% {
        d:path("M153.085 185.238C285.563 123.169 127.854 51.2387 220.353 51.2387C312.853 51.2387 362.5 86 413.323 203.239C464.146 320.477 299 255 245.838 337.239C192.677 419.477 20.6078 247.308 153.085 185.238Z");

    }
    100% {
        d:path("M126.247 188C258.725 125.931 101.016 54 193.515 54C286.015 54 361 113.994 361 188C361 262.006 327.366 322 193.515 322C59.665 322 -6.23059 250.069 126.247 188Z");

    }
} 

    @keyframes blob1 {
        0% {
            
            d:path("M234.753 134C102.275 196.069 259.984 268 167.485 268C74.9854 268 0 208.006 0 134C0 59.9939 33.6342 0 167.485 0C301.335 0 367.231 71.9307 234.753 134Z");
    
        }
        25% {
            d:path("M249.016 143.402C116.539 205.471 274.247 277.402 181.748 277.402C89.2488 277.402 50.7634 198.902 14.2634 143.402C-22.2366 87.9018 3.73248 52.4019 181.748 9.40188C359.763 -33.5981 381.494 81.3326 249.016 143.402Z");
    
        }
        50% {
            d:path("M247.017 150.402C114.539 212.471 272.247 284.402 179.748 284.402C87.2489 284.402 48.7636 205.902 12.2635 150.402C-24.2365 94.9018 21.4962 -47.6963 179.748 16.4018C338 80.5 379.494 88.3326 247.017 150.402Z");
    
        }
        75% {
            d:path("M261.591 131.238C129.114 193.308 286.822 265.239 194.323 265.239C101.824 265.239 -66.5 265.239 28.0001 142.5C122.5 19.7612 51.0462 44.5 201.273 7.99995C351.5 -28.5001 394.069 69.1691 261.591 131.238Z");
    
        }
        100% {
            d:path("M234.753 134C102.275 196.069 259.984 268 167.485 268C74.9854 268 0 208.006 0 134C0 59.9939 33.6342 0 167.485 0C301.335 0 367.231 71.9307 234.753 134Z");
    
        }


        
}

@keyframes blobCapture1 {
    0% {
        d:path("M126.247 188C258.725 125.931 101.016 54 193.515 54C286.015 54 361 113.994 361 188C361 262.006 327.366 322 193.515 322C59.665 322 -6.23059 250.069 126.247 188Z");

    }
    25% {
        d:path("M140.51 197.402C272.988 135.332 115.279 63.4019 207.779 63.4019C300.278 63.4019 370.764 115.402 400.748 215.402C430.732 315.402 367.114 349.402 233.263 349.402C99.413 349.402 8.0329 259.471 140.51 197.402Z");

    }
    50% {
        d:path("M138.51 204.402C270.988 142.332 113.279 70.4019 205.778 70.4019C298.278 70.4019 480.996 131.304 398.748 222.402C316.5 313.5 365.114 356.402 231.263 356.402C97.413 356.402 6.03287 266.471 138.51 204.402Z");

    }
    75% {
        d:path("M153.085 185.238C285.563 123.169 127.854 51.2387 220.353 51.2387C312.853 51.2387 362.5 86 413.323 203.239C464.146 320.477 299 255 245.838 337.239C192.677 419.477 20.6078 247.308 153.085 185.238Z");

    }
    100% {
        d:path("M126.247 188C258.725 125.931 101.016 54 193.515 54C286.015 54 361 113.994 361 188C361 262.006 327.366 322 193.515 322C59.665 322 -6.23059 250.069 126.247 188Z");

    }
} 

    @keyframes blobCapture2 {
        0% {
            
            d:path("M234.753 134C102.275 196.069 259.984 268 167.485 268C74.9854 268 0 208.006 0 134C0 59.9939 33.6342 0 167.485 0C301.335 0 367.231 71.9307 234.753 134Z");
    
        }
        25% {
            d:path("M249.016 143.402C116.539 205.471 274.247 277.402 181.748 277.402C89.2488 277.402 50.7634 198.902 14.2634 143.402C-22.2366 87.9018 3.73248 52.4019 181.748 9.40188C359.763 -33.5981 381.494 81.3326 249.016 143.402Z");
    
        }
        50% {
            d:path("M247.017 150.402C114.539 212.471 272.247 284.402 179.748 284.402C87.2489 284.402 48.7636 205.902 12.2635 150.402C-24.2365 94.9018 21.4962 -47.6963 179.748 16.4018C338 80.5 379.494 88.3326 247.017 150.402Z");
    
        }
        75% {
            d:path("M261.591 131.238C129.114 193.308 286.822 265.239 194.323 265.239C101.824 265.239 -66.5 265.239 28.0001 142.5C122.5 19.7612 51.0462 44.5 201.273 7.99995C351.5 -28.5001 394.069 69.1691 261.591 131.238Z");
    
        }
        100% {
            d:path("M234.753 134C102.275 196.069 259.984 268 167.485 268C74.9854 268 0 208.006 0 134C0 59.9939 33.6342 0 167.485 0C301.335 0 367.231 71.9307 234.753 134Z");
    
        }


        
}


